@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Roboto:wght@400&display=swap');
:root{
    --main-bg-color:  #1957c2;
    --font1: 'Baloo Bhai 2', cursive;
    --font2: 'Roboto', sans-serif;
}
.font1{
    font-family: var(--font1);
    line-height: 45px;
    /* letter-spacing: 1px; */
}
.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 85vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.btn{
    font-family: var(--font2);
    padding: 4.1px 16px;
    border: 1.6px solid #f0f0f0;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    font-size: 15px;
}
.form-input{
    padding: 5px 50px;
    padding-left: 13px;
    font-size: 13px;
    margin: 0 12px;
    border: 1.6px solid black;
    font-family: var(--font2);
    border-radius: 4px;
}